<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="3"
    android:versionName="1.0"
    android:installLocation="0"
    android:compileSdkVersion="28"
    android:compileSdkVersionCodename="9"
    package="nurse.md"
    platformBuildVersionCode="3"
    platformBuildVersionName="1065353216.000000">

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="28" />

    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission
        android:name="android.permission.INTERNET" />

    <uses-permission
        android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission
        android:name="android.permission.WAKE_LOCK" />

    <uses-permission
        android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission
        android:name="com.google.android.finsky.permission.BIND_GET_INSTALL_REFERRER_SERVICE" />

    <uses-permission
        android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission
        android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:theme="@ref/0x7f0f0005"
        android:label="Nurse M.D"
        android:icon="@ref/0x7f07017c"
        android:name="nurse.md.config"
        android:allowBackup="false"
        android:supportsRtl="true"
        android:fullBackupContent="false"
        android:usesCleartextTraffic="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@ref/0x7f090006" />

        <uses-library
            android:name="com.google.android.maps"
            android:required="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="nurse.md.CastOptionsProvider" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".SearchableActivity" />

        <provider
            android:name="nurse.md.MySuggestionProvider"
            android:exported="false"
            android:authorities="nurse.md.MySuggestionProvider" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.preinicio"
            android:configChanges="0x4a0">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />

                <category
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <category
                    android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="www.appcreator24.com"
                    android:pathPrefix="/open909537/" />
            </intent-filter>

            <intent-filter>

                <action
                    android:name="android.intent.action.VIEW" />

                <category
                    android:name="android.intent.category.DEFAULT" />

                <category
                    android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="www.appcreator24.com"
                    android:pathPrefix="/open909537/" />
            </intent-filter>
        </activity>

        <activity
            android:theme="@ref/0x0103000f"
            android:name="com.google.android.gms.ads.AdActivity"
            android:exported="false"
            android:configChanges="0xfb0" />

        <activity
            android:name="nurse.md.SearchableActivity"
            android:launchMode="1">

            <intent-filter>

                <action
                    android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@ref/0x7f110002" />
        </activity>

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.ExpandedControlsActivity"
            android:launchMode="2">

            <intent-filter>

                <action
                    android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_url"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_html"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_video"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_video_exoplayer"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_video_pro"
            android:configChanges="0x4a0"
            android:windowSoftInputMode="0x20" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_radio"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_buscchats"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_buscchats_lista"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_menugrid" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_submenu" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_rss" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_rssdetalle" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_oficinas" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_chat_contra" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_chat"
            android:configChanges="0x4a0"
            android:windowSoftInputMode="0x10" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.preperfil"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.chat_perfil"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.guardarprimeravez" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.eliminarperfil" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.chat" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.contactar" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_buscador_form"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.cats" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_buscador" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_detalle" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_menu" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_mapa_web"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_and" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.finalizar" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.notifs"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.notifs_cats"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.privados"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.profile"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.fotogal"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_buscusus"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_buscvideos"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_buscvideo"
            android:configChanges="0x4a0"
            android:windowSoftInputMode="0x20" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_gal"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_gal_foto"
            android:configChanges="0x4a0" />

        <activity
            android:label="Nurse M.D"
            android:name="nurse.md.t_card"
            android:configChanges="0x4a0" />

        <service
            android:name="nurse.md.s_cargar_icos" />

        <service
            android:name="nurse.md.s_cargar_sliderheader" />

        <service
            android:name="nurse.md.s_cargar_fondo" />

        <service
            android:name="nurse.md.s_guardarperfil" />

        <service
            android:name="nurse.md.s_obtenerpos" />

        <service
            android:name="nurse.md.s_guardarpos" />

        <service
            android:name="nurse.md.s_mediaplayer_exo" />

        <service
            android:name="nurse.md.RegistrationIntentService" />

        <provider
            android:name="nurse.md.bd_provider"
            android:exported="false"
            android:multiprocess="true"
            android:authorities="nurse.md.bd_provider" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:exported="false"
            android:authorities="nurse.md.fileprovider"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@ref/0x7f110000" />
        </provider>

        <receiver
            android:name="nurse.md.alarma_rss" />

        <service
            android:name="nurse.md.MyFcmListenerService">

            <intent-filter>

                <action
                    android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="nurse.md.MyInstanceIDListenerService">

            <intent-filter>

                <action
                    android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:theme="@ref/0x01030010"
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:exported="false"
            android:configChanges="0x4a0" />

        <activity
            android:theme="@ref/0x0103000a"
            android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
            android:configChanges="0x4a0"
            android:hardwareAccelerated="true" />

        <activity
            android:theme="@ref/0x0103000a"
            android:name="com.adcolony.sdk.AdColonyAdViewActivity"
            android:configChanges="0x4a0"
            android:hardwareAccelerated="true" />

        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="true">

            <intent-filter
                android:priority="-500">

                <action
                    android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.google.android.gms.cast.framework.media.MediaIntentReceiver"
            android:exported="false" />

        <service
            android:name="com.google.android.gms.cast.framework.media.MediaNotificationService"
            android:exported="false" />

        <service
            android:name="com.google.android.gms.cast.framework.ReconnectionService"
            android:exported="false" />

        <service
            android:name="com.appnext.core.AdsService"
            android:multiprocess="true" />

        <activity
            android:theme="@ref/0x01030007"
            android:name="com.appnext.ads.interstitial.InterstitialActivity"
            android:multiprocess="true"
            android:configChanges="0x4a0"
            android:hardwareAccelerated="true" />

        <activity
            android:theme="@ref/0x01030007"
            android:name="com.appnext.ads.fullscreen.FullscreenActivity"
            android:multiprocess="true"
            android:hardwareAccelerated="true" />

        <activity
            android:name="com.appnext.banners.BannerActivity"
            android:screenOrientation="1" />

        <activity
            android:theme="@ref/0x01030010"
            android:name="com.facebook.ads.internal.ipc.RemoteANActivity"
            android:exported="false"
            android:process=":adnw"
            android:configChanges="0x4a0" />

        <service
            android:name="com.facebook.ads.internal.ipc.AdsProcessPriorityService"
            android:exported="false" />

        <service
            android:name="com.facebook.ads.internal.ipc.AdsMessengerService"
            android:exported="false"
            android:process=":adnw" />

        <activity
            android:theme="@ref/0x01030010"
            android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
            android:exported="false"
            android:excludeFromRecents="true" />

        <service
            android:name="com.google.android.gms.auth.api.signin.RevocationBoundService"
            android:permission="com.google.android.gms.auth.api.signin.permission.REVOCATION_NOTIFICATION"
            android:exported="true" />

        <service
            android:name="com.google.firebase.components.ComponentDiscoveryService"
            android:exported="false">

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.analytics.connector.internal.AnalyticsConnectorRegistrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />

            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>

        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementReceiver"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.measurement.AppMeasurementInstallReferrerReceiver"
            android:permission="android.permission.INSTALL_PACKAGES"
            android:enabled="true"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.google.android.gms.measurement.AppMeasurementJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.firebase.iid.FirebaseInstanceIdReceiver"
            android:permission="com.google.android.c2dm.permission.SEND"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.firebase.iid.FirebaseInstanceIdService"
            android:exported="true">

            <intent-filter
                android:priority="-500">

                <action
                    android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="com.google.firebase.provider.FirebaseInitProvider"
            android:exported="false"
            android:authorities="nurse.md.firebaseinitprovider"
            android:initOrder="100" />

        <activity
            android:theme="@ref/0x01030010"
            android:name="com.google.android.gms.common.api.GoogleApiActivity"
            android:exported="false" />

        <activity
            android:theme="@ref/0x7f0f0181"
            android:name="com.facebook.FacebookActivity"
            android:configChanges="0x5b0" />

        <activity
            android:name="com.facebook.CustomTabMainActivity" />

        <activity
            android:name="com.facebook.CustomTabActivity" />

        <activity
            android:theme="@ref/0x01030005"
            android:name="com.startapp.android.publish.ads.list3d.List3DActivity" />

        <activity
            android:theme="@ref/0x0103000f"
            android:name="com.startapp.android.publish.adsCommon.activities.OverlayActivity"
            android:configChanges="0x4a0" />

        <activity
            android:theme="@ref/0x01030005"
            android:name="com.startapp.android.publish.adsCommon.activities.FullScreenActivity"
            android:configChanges="0x4a0" />

        <service
            android:name="com.startapp.android.publish.common.metaData.PeriodicMetaDataService" />

        <service
            android:name="com.startapp.android.publish.common.metaData.InfoEventService" />

        <service
            android:name="com.startapp.android.publish.common.metaData.PeriodicJobService"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name="com.startapp.android.publish.common.metaData.BootCompleteListener">

            <intent-filter>

                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.appnext.base.services.OperationService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name="com.appnext.base.services.OperationJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true" />

        <service
            android:name="com.appnext.base.services.EventsJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="false" />

        <receiver
            android:name="com.appnext.base.receivers.EventsReceiver" />

        <receiver
            android:name="com.appnext.base.receivers.AppnextBootReciever">

            <intent-filter>

                <action
                    android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.appnext.core.ResultActivity"
            android:excludeFromRecents="true"
            android:launchMode="1" />

        <activity
            android:name="com.appnext.core.result.ResultPageActivity"
            android:excludeFromRecents="true"
            android:launchMode="1"
            android:screenOrientation="1" />

        <provider
            android:name="com.facebook.internal.FacebookInitProvider"
            android:exported="false"
            android:authorities="nurse.md.FacebookInitProvider" />

        <receiver
            android:name="com.facebook.CurrentAccessTokenExpirationBroadcastReceiver"
            android:exported="false">

            <intent-filter>

                <action
                    android:name="com.facebook.sdk.ACTION_CURRENT_ACCESS_TOKEN_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
